.img{
    position:relative;
  
    width: 100%;
    height: 100%;
}


.btn{
   background-color: black;
   color: white;
    height: 50px;
    width: 200px;
    border-radius:5px;
   display: block;
   margin: 20px auto;
   
}

.btn:hover{
   border-radius: 25px;
   cursor: pointer;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    
}
.model{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 25px;
    width: 250px;
    height: 550px;

}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input{
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    color: white;
    cursor: pointer;

}